-- Float.configl3648d2998(0,6592)-- Copywrite Xerox Corporation 1980z18591l3712d2998j(1792)-- This configuration contains what you need to run microcode floating point on an XMesa Alto.  You must load and START this configuration (or call RealDefs.InitFloat) before doing any floating point operations.l3648d2998(0,6592)-- L. Stewart, March 11, 1980  12:02 PMl3648d2998Float: CONFIGURATIONe12\b5BIMPORTS ImageDefs, MiscDefs, SegmentDefsl4268EXPORTS RealDefsl4268CONTROL MicroFloat =l4268BEGINRamLoad;	-- EXPORTS RamLoaduCodeImage;	-- EXPORTS uFloatDefsMicroFloat;	-- IMPORTS everything, EXPORTS RealDefsEND.-- NOTES:   uCodeImage.bcd is produced by the TableCompiler from the PackedRamImage Float.br produced by PACKMU.l3648d2998